.certification{
  cursor : pointer;
  margin-bottom : -4px;
  max-width: max-content;
}
.skill {
  cursor : pointer; 
  margin-bottom : -4px;
  max-width: max-content;
}
.skill:hover {
  color : #bd5d38!important;
}
.certification:hover {
  color : #bd5d38!important;
}
